<div>
  <div class="container">
    <div class="row">
      <h2 class="col-md-4 col-md-offset-4 text-center">
        {{getLoginMessage()}}
      </h2>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="submitLoginForm(loginForm)">
      <div class="form-group row" [ngClass]="{'has-error' : loginForm.form.controls.email?.invalid && loginForm.form.controls.email?.touched }">
        <label for="email" class="col-md-4 col-md-offset-4">Email</label>
        <div class="col-md-4 col-md-offset-4">
          <input type="email" name="email" id="email" class="form-control" ngModel required pattern="^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$" />
          <div *ngIf="loginForm.form.controls.email?.hasError('required') && loginForm.form.controls.email?.touched" class="form-text alert alert-danger">Please Enter Your Email</div>
          <div *ngIf="loginForm.form.controls.email?.hasError('pattern') && loginForm.form.controls.email?.touched" class="form-text alert alert-danger">Please Enter a Valid Email</div>
        </div>
      </div>
      <div class="form-group row" [ngClass]="{'has-error' : loginForm.form.controls.password?.invalid && loginForm.form.controls.password?.touched }">
        <label for="password" class="col-md-4 col-md-offset-4">Password</label>
        <div class="col-md-4 col-md-offset-4">
          <input type="password" name="password" id="password" class="form-control" ngModel required minlength="4" />
          <div *ngIf="loginForm.form.controls.password?.hasError('required') && loginForm.form.controls.password?.touched" class="form-text alert alert-danger">Please Enter Your Password</div>
          <div *ngIf="loginForm.form.controls.password?.hasError('minlength') && loginForm.form.controls.password?.touched" class="form-text alert alert-danger">Please Enter at Least 4 Characters</div>
        </div>
      </div>
      <div class="form-group row">
        <div *ngIf="getErrorMessage().length > 0" class="col-md-4 col-md-offset-4 form-text alert alert-danger">{{getErrorMessage()}}</div>
      </div>
      <div class="form-group row">
        <p class="col-md-4 col-md-offset-4">Don't have an account? <a routerLink="/register">Sign Up Now</a></p>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-primary col-md-2 col-md-offset-5" [disabled]="loginForm.form.invalid">Sign In</button>
      </div>
    </form>
  </div>
</div>
